@charset ISO-8859-1;

body {
margin-top:0;
margin-bottom:0;
font-family:calibri, helvetica, arial, geneva, sans-serif;
font-size:12px;
color:#000;
background:#DEDEDE;
}

a:visited,a:active,a:hover,a:link {
color:#000;
text-decoration:none;
}

table,tr,td {
font-family:helvetica, arial, geneva, sans-serif;
font-size:12px;
vertical-align:text-top;
}

img {
border:none;
}

textarea {
font-family:helvetica, arial, geneva, sans-serif;
font-size:12px;
color:#000;
}

.lgrad {
width:19px;
background:url(../image/layout/lgrad.jpg) repeat-y;
}

.linegrad {
width:2px;
background:url(../image/layout/linegrad.PNG) repeat-y;
}

.rgrad {
width:19px;
background:url(../image/layout/rgrad.jpg) repeat-y;
}

.dgrad {
height:38px;
background:url(../image/layout/dgrad.jpg) repeat-x;
}

.dgradl {
height:38px;
width:38px;
background:url(../image/layout/dgradl.jpg) no-repeat;
}

.dgradr {
height:38px;
width:38px;
background:url(../image/layout/dgradr.jpg) no-repeat;
}

.center {
width:932px;
vertical-align:top;
text-align:center;
background:#FFF;
}

.table td {
height:22px;
background:#DEDEDE;
}

.table3 td {
background:#CCC;
}

td .alt {
height:22px;
background:#EEE;
}

.table,.table3 {
background:#000;
}

td .h,.table th {
font-weight:700;
background:#D6D6D6 url(../image/layout/tablehgrad.png) repeat-x;
}

.new {
    color: red;
	font-weight:bold
}
.info,.success,.warning,.error,.validation {
border:1px;
background:no-repeat 10px;
margin:10px;
padding:15px;
repeat-x
}

.info {
color:#00529B;
background:#BDE5F8 url(../image/info/info.png) no-repeat left center;
}

.success {
color:#4F8A10;
background:#DFF2BF url(../image/info/success.png) no-repeat left center;
}

.warning {
color:#9F6000;
background:#FEEFB3 url(../image/info/warning.png) no-repeat left center;
}

.error {
color:#D8000C;
background:#FFBABA url(../image/info/error.png) no-repeat left center;
}
 label {
display: inline-block;
width: 5em;
}
